pip==25.0.1
langchain==0.3.18
langchain-openai==0.2.8
langchain-community
streamlit
pandas
pdfplumber==0.11.4
tabula-py
chromadb==0.4.4
pysqlite3-binary
jpype1
langchain-experimental
sentence_transformers
langchain-groq
rank_bm25
